/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
  }
*, *::before, *::after {
    box-sizing: border-box;
}
/* ----------------------------reset---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@900&display=swap');
:root{
    --main-color:#3F5D45;
    --secondary-color:#EAF0ED;
    --footer-color:#FFE180;
}
*,body{
    font-family: '微軟正黑體',sans-serif;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.hamLogo{
    display: none;
    border: none;
    max-width: 100%;
    background: transparent;
    cursor: pointer;
}
.mobLogo{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 0px;
    width: 70%;
}
.cartIco img{
    padding-left:19px;
}
.menu-link, .cartIco{
    display: block;
    line-height: 24px;
    padding:25px 0 ;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color)
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
}
.banner{
    margin-bottom: 60px;
}
/* -----------------------header響應式----------------------- */
@media(max-width:768px){
    .container{
        width: 100%;
    }
    .header{
        justify-content: space-around;
    }
    nav{
        width: 100%;
        justify-content: space-around;
    }
    nav .active{
        max-height: 200px;
      }
    .logo{
        display: none;
    }
    .menu-link{
        padding: 22px 0;
        text-align: center;
    }
    .menu-item{
        width: 100%;
    }
    .menu-item:hover{
        background: var(--secondary-color);
    }
    .menu{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        transition: all 0.8s;
        overflow: hidden;
        background: white;
        flex-direction: column;
    }
    .cartIco img{
        padding: 0;
    }
    .hamLogo{
        display: block;
    }
    .hamLogo:focus{
        outline: 0;
    }
    .mobLogo{
        display: block;
        width: 40%;
    }
}
/* -----------------------header----------------------- */
.content{
    display: flex;
    justify-content: space-between;
}
.types{
    width: 32%;
    text-align: center;
}
.types h3{
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--main-color);
    color: var(--secondary-color);
    line-height: 33px;
    font-size: 24px;
}
.types li{
    border: 1px solid var(--secondary-color);
    transition: .4s;
}
.types a{
    display: block;
    text-decoration: none;
    line-height: 33px;
    color: var(--main-color);
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}
.types li:hover{
    background: var(--secondary-color);
}
/* -----------------------types----------------------- */
.product{
    width: 66%;
}
.desser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.desser-img{
    position: relative;
}
.desser-img p{
    position: absolute;
    top: 0;
    left: 20px;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    padding: 10px;
    font-size: 16px;
    color: var(--secondary-color);
    background-color: var(--main-color);
    line-height: 20px;
}
.favorite{
    position: absolute;
    top: 19px;
    right: 22px;
}
.desser-text{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 20px;
}
.desser-text h3 , .desser-text span{
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 24px;
    color: var(--main-color);
    line-height: 20px;
}
.desser-text h3{
    width: 60%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    border-left: 1px solid var(--secondary-color);
}
.desser-text span{
    width: 40%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}
.shopping{
    width: 100%;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--secondary-color);
    color: var(--main-color);
    transition: .4s;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.shopping:hover{
    background: var(--main-color);
    color: var(--secondary-color);
}
/* -----------------------product響應式----------------------- */
@media(max-width:768px){
    .content{
        flex-direction: column;
    }
    .types{
        width: 100%;
        margin-bottom: 30px;
    }
    .product{
       width: 100%;
    }
    .desser{
        justify-content: space-around;
        align-items: center;
    }
}
/* -----------------------product----------------------- */
.page{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 60px;
}
.page li{
    box-sizing: border-box;
    width: 60px;
    border: 1px solid var(--secondary-color);
    margin: 0px 0px 0px -1px;
    text-align: center;
}
.pageNum {
    display: block;
    background: #ffffff;
    color: var(--main-color);
    font-size: 20px;
    text-decoration: none;
    line-height: 20px;
    padding: 20px 0;
    transition: .4s;
}
.pageLeft img,.pageRight img{
    padding: 18px 0;
}
.pageNum:hover{
    background: var(--main-color);
    color: var(--secondary-color);
}
/* -----------------------page響應式----------------------- */
@media(max-width:768px){
    .page{
    width: 100%;
    justify-content: center;
    }
}
/* -----------------------page----------------------- */
.email{
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 20%;
}
.email ul{
    display: flex;
    align-items: center;
}
.email h2{
    font-size: 24px;
    line-height: 29px;
    padding-left: 20px;
    color: var(--secondary-color);
}
form{
    display: flex;
}
.mailIcon{
    box-sizing: border-box;
    padding: 18px 20px;
    width: 64px;
    height: 58px;
    background: var(--secondary-color);
}
.forMail{
    padding: 16px 25px 16px ;
    border: none;
    line-height: 26px;
    background: var(--secondary-color);
}
.forWard{
    border: none;
    padding: 17px 20px;
    background-color: var(--footer-color);
}
/* -----------------------email響應式----------------------- */
@media(max-width:768px){
    .email{
        flex-direction: column;
        padding: 40px 0;
    }
    form{
        margin-top: 30px ;
    }
}
/* -----------------------email----------------------- */
.footerTotal{
    background: var(--secondary-color);
}
.footer{
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    padding: 30px 0;
}
.dataLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: var(--main-color);
}
.dataRight{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Noto Serif TC', serif;
    color: var(--main-color);
}
.dataRight h2{
    font-size: 20px;
    line-height: 40px;
    text-indent: 10px;
    font-weight: bold;
    writing-mode: vertical-lr;
    letter-spacing: 6px;
}
.dataRight p{
    margin-top: 46px;
    font-size: 16px;
    line-height: 19px;
}
.web{
    display: flex;
    margin-top: 30px;
}
.web li{
    padding-right: 8px;
}
/* -----------------------footer響應式----------------------- */
@media(max-width:768px){
    .footer{
        width: 100%;
        padding: 30px;
    }
    .connect{
        margin-top: 40px;
    }
}
@media(max-width:375px){
    .footer{
        width: 100%;
        flex-direction: column;
        padding: 30px;
    }
    .dataRight{
        align-items: flex-start;
    }
    .dataRight h2{
        display: none;
    }
}